<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Digitaliser PDF</title>
</head>

<script>
$(document).ready(function() {

    // Lytter på filendring
    $('#file-input').on('change', function() {
        if (this.files && this.files.length > 0) {
            // Hent filnavnet fra det valgte filobjektet
            var filename = this.files[0].name;

            // Oppdater teksten i p-taggen med filnavnet
            $('.main-container p').text(filename);

            // Endre label teksten
            $('.file-label').text('Velg en annen fil');
        }
    });

    // Lytter på form submit
    $('.form').on('submit', function(event) {
        console.log('Form submitted');
        event.preventDefault();
        
        let formData = new FormData(this);
        let statusmsg = 'Loading...'
        $('.loading').text(statusmsg);
        $('.loading').show();

        $.ajax({
            url: '/',
            type: 'POST',
            data: formData,
            success: function(data) {
                if (data.filename) {

                    // Skjul loading melding
                    $('.loading').hide();

                    $('.output-container').show();
                    // Vis PDF i iframe
                    $('#pdfViewer').attr('src', '/path_to_pdf_folder/' + data.filename);
                    $('#pdfViewer').show();
                    
                    // Vis nedlastingslink
                    $('.message-box').html('<a href="/path_to_pdf_folder/' + data.filename + '" download>Last ned PDF</a>');
                    $('.message-box').show();
                } else if (data.error) {
                    $('.message-box').text(data.error);
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
});

</script>

<body>
    <div class="header">
        <h2>Last opp en skannet PDF</h2>
    </div>
    <div class="main-container">
        <p></p>
        <form class="form" action="/" method="POST" enctype="multipart/form-data">
            <!-- Ligger den skjulte fil-input over label-knappen -->
            <input class="upload" type="file" name="file" id="file-input" accept=".pdf" style="display: none;">
            <label for="file-input" class="file-label">Velg en fil</label>
            <input class="button" type="submit" value="Konverter og digitaliser PDF">
        </form>
    
        <div class="output-container">
            <div class="loading" style="display: none;"><p></p></div>
            <div class="message-box" id="messageBox"></div>
            <iframe id="pdfViewer"></iframe>
        </div>
    
    </div>
    
</body>
</html>
